# Backend general config
DOMAIN='localhost:3000'
SITE_NAME='Porikkhon'
SITE_LOGO_URL='https://www.codemarshal.com/images/logo-dark.png'
SITE_OWNER_NAME='CodeMarshal IT Systems Ltd.'
SITE_OWNER_URL='https://www.codemarshal.com'
ADMIN_SITE_HEADER='Porikkhon Administration'
API_BROWSER_HEADER='Porikkhon API'

# Backend pagination config
DJANGO_DEFAULT_PAGE_SIZE=25
DJANGO_MAX_PAGE_SIZE=100

# Backend security config
DJANGO_ENV='development'
DJANGO_ALLOWED_HOSTS='*'
DJANGO_DEFAULT_THROTTLE_RATE_ANON='60/minute'
DJANGO_DEFAULT_THROTTLE_RATE_USER='120/minute'
DJANGO_SECRET_KEY='devkey_abcdefghijklmnopqrstuvwxyz'
MOBILE_ACTIVATION_TOKEN_LENGTH=6
MOBILE_DAILTY_TOKEN_REQUEST_LIMIT=10
MOBILE_TOKEN_ATTEMPT_LIMIT=10
TICKET_CACHE_TTL=120
DJANGO_USE_X_FORWARDED_HOST=True

# Backend data servers config
DATABASE_URL='postgres:///porikkhon'
DATABASE_CONN_MAX_AGE=60
REDIS_URL='redis://127.0.0.1:6379'
BRDB_MIS_CODE='10'

# Zombodb elasticsearch config
ZOMBODB_ELASTICSEARCH_URL='http://localhost:9200/'

# Backend email service config
EMAIL_SMTP_HOST='localhost'
EMAIL_SMTP_USER=''
EMAIL_SMTP_PASSWORD=''
EMAIL_SMTP_PORT=1025
DEFAULT_FROM_EMAIL='Porikkhon <no-reply@codemarshal.com>'
DEFAULT_SERVER_EMAIL='Porikkhon <no-reply@codemarshal.com>'

# Background processing config
CELERY_TASK_MAX_RETRIES=5
CELERY_TASK_DEFAULT_QUEUE='porikkhon'

# Backend logging service config
DJANGO_SENTRY_DSN=''
DJANGO_SENTRY_LOG_LEVEL=20

# Backend timezone config
DEFAULT_TIME_ZONE='UTC'

# Frontend general config
REACT_APP_WS_DSN='localhost:8000'
REACT_APP_SITE_NAME='Porikkhon'

# Frontend locale config
REACT_APP_SUPPORTED_LOCALES='en,bn'
REACT_APP_DEFAULT_LOCALE='en'

# Frontend logging service config
REACT_APP_SENTRY_DSN=''

# Frontend app config
REACT_APP_SITE_NAME='Porikkhon'
REACT_APP_MAX_PROFILE_PICTURE_SIZE=10240
REACT_APP_MAX_PROFILE_PICTURE_RESOLUTION=1024

# Frontend table config
REACT_APP_TABLEDROPDOWN_ITEMS_LIMIT=5


# FaceEngine Setup
FACE_ENGINE_URL=''
FACE_ENGINE_KEY=''
FACE_ENGINE_FAKE_RESULT=False
